langchain
langchain-community
langchain-core
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-groq

pinecone-client
pinecone-text

chromadb
faiss-cpu

huggingface_hub
sentence-transformers

pypdf
pymupdf
python-docx
docx2txt
bs4
wikipedia
arxiv
unstructured
youtube_transcript_api
pytube

duckduckgo_search==5.3.1b1
validators==0.28.1

mysql-connector-python
SQLAlchemy

flask
flask-cors

requests
python-dotenv
pandas
numexpr
neo4j
gradio

ipykernel
